@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reset CSS */

* { margin: 0; padding: 0; }

/* Contenu de la Page Principale */

.pp-body {
	background-image: url(img/pexels-brett-sayles-4066118.jpg);
	background-size: cover;
	height: 100vh;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;

} 

.pp-header { grid-area: 1 / 1 / 2 / 2;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:30px;}
.div1 { grid-area: 3 / 2 / 4 / 3; }
.div2 { grid-area: 3 / 3 / 4 / 4; 
        align-content: center; }
.div3 { grid-area: 3 / 4 / 4 / 5; }
.pp-nav { grid-area: 1 / 5 / 2 / 6;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          display: flex;
          justify-content: center;
          align-items: center; }
.pp-footer{grid-area: 5 / 3 / 6 / 4;
          color: rgb(0, 0, 0);
          padding-top: 50px;
          font-family: "Google Sans Code", monospace;
          font-optical-sizing: auto;
          font-style: normal;
          font-size: 80%;
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: center; }


.pp-p{ 
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;

}

.pp-ul{
  list-style-type: none;
  text-align: center;
} 

.pp-ul2{
  list-style-type: none;
  text-align: center;
  display: flex;

}

.pp-li{
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 30px;
}

.pp-a {
  outline: none;
  text-decoration: none;
  
}

.pp-a:link {
  color: #000000;
}

.pp-a:visited {
  color: #000000;
}


@media ((min-width: 768px) and (max-width: 1440px)) {
  .pp-p{ 
  font-size: 25px;}

  .pp-footer{
    font-size: 10px;}

.pp-li{
  font-size: 15px;}
}


@media ((min-width: 425px) and (max-width: 767px)) {
  .pp-body{
    background-image: url(img/pexels-brett-sayles-4066118.jpg);
    background-size: cover;
    height: 100vh;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;}

.div1 { grid-area: 3 / 1 / 4 / 2;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;  }
.div2 { grid-area: 3 / 2 / 4 / 3;
        align-content: center; }
.div3 { grid-area: 3 / 3 / 4 / 4; }
.pp-header { grid-area: 1 / 1 / 2 / 2;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center; }
.pp-nav { grid-area: 1 / 3 / 2 / 4;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          display: flex;
          justify-content: center;
          align-items: center; }
.pp-footer { grid-area: 5 / 2 / 6 / 3;
          color: rgb(0, 0, 0);
          padding-top: 50px;
          font-family: "Google Sans Code", monospace;
          font-optical-sizing: auto;
          font-style: normal;
          font-size: 50%;
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: center; }
.pp-p{ 
  font-size: 20px;}

.pp-li{
  font-size: 10px;}
}




@media ((min-width: 320px) and (max-width: 424px)) {
  .pp-body {
    background-image: url(img/pexels-brett-sayles-4066118.jpg);
    background-size: cover;
    height: 100vh;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.div1 { grid-area: 3 / 1 / 4 / 3; }
.div2 { grid-area: 4 / 1 / 5 / 3; }
.div3 { grid-area: 5 / 1 / 6 / 3; }
.pp-header { grid-area: 1 / 1 / 2 / 2;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center;
          font-size: 15px;}
.pp-nav { grid-area: 1 / 2 / 2 / 3;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          display: flex;
          justify-content: center;
          align-items: center;  }
.pp-footer { grid-area: 7 / 1 / 8 / 3;
            color: rgb(0, 0, 0);
            padding-top: 50px;
            font-family: "Google Sans Code", monospace;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 50%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center; }
.pp-p{ 
  font-size: 20px;}

.pp-li{
  font-size: 10px;}
}


/* Contenu du CV version 2 */


.cv2-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.cv2-ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size:20px;
  column-gap: 300px;
  padding-top: 50px;
}

.cv2-li{
  padding:8px;
}

.cv2-li2{
  text-align: center;
}

.cv2-h1{
  text-align: center;
  padding-top: 50px;
}

.section1{
  display: flex;
  flex-direction: column;
}


section{
  /* Active le modèle Flexbox */
    display: flex;
    /* Ajoute un espacement entre l'image et le texte */
    gap: 80px;
    /* Définissez une largeur maximale (facultatif) */
    flex-direction: row-reverse;
    padding:80px;
    justify-content: center;
}

section img {
    width: 700px;
    height: 700px;
}

.cv2-div{
  display: flex;
  flex-direction: column;
}

.cv2-body{
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh; width:100%;
}

.container_1{
  display: flex;
  flex-direction: column;
  gap:50px;
}


.container_2{
  max-width:800px;
  display :flex;
  flex-direction: column;
  gap: 50px;

}

.container_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  gap: 50px;
}

a {
  outline: none;
  padding: 2px 1px 0;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}


@media ((min-width: 768px) and (max-width: 1024px)) {
  section{
  /* Active le modèle Flexbox */
    display: flex;
    /* Ajoute un espacement entre l'image et le texte */
    gap: 80px;
    /* Définissez une largeur maximale (facultatif) */
    flex-direction: row-reverse;
    padding:80px;
    justify-content: center;
    width: 200%;}
}

@media ((min-width: 320px) and (max-width: 767px)) {
  section{
    display: flex;
    gap: 80px;
    flex-direction: row-reverse;
    padding:80px;
    justify-content: center;
    width: 1000px;}

  section img {
    width: 500px;
    height: 500px;}
}

/* Contenu de la page About Me */

#am-body{
  background-color: rgb(156, 177, 194);
}

.am-p{
  font-size: 50px;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
  padding: 80px;
}


@media ((min-width: 427px) and (max-width: 1024px)) {
  .am-p{
  font-size: 30px;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
  padding: 80px;
} }


@media ((min-width: 375px) and (max-width: 426px)) {
  .am-p{
  font-size: 15px;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
  padding: 80px;
}}

@media ((min-width: 320px) and (max-width: 374px)) {
  .am-p{
  font-size: 10px;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
  padding: 80px;
}}



/* Contenu de la page Contact Me */


#cm-body{
  background-color:rgba(44, 39, 45);
  height: 100vh; width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
}

.cm-ul {
    list-style-type: none;
    padding-top: 100px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size:50px;
    color: #ffffff;
}

.cm-li{
  padding-bottom:80px;
}


/* .cm-nav{
  padding-top:100px;
} */


@media ((min-width: 320px) and (max-width: 426px)) {
  .cm-ul {
    list-style-type: none;
    padding-top: 50px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
}}


/* Contenu de la page Portefolio */

.port-section1{
  display: flex;
  flex-direction: column;
}

.port-body{
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh; width:100%;
}

.port-h1{
  text-align: center;
  padding-top: 50px;
}

.port-image{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.port-image img{
  width:300px; height: 300px;
}

.port-section{
  /* Active le modèle Flexbox */
    display: flex;
    /* Ajoute un espacement entre l'image et le texte */
    gap: 80px;
    /* Définissez une largeur maximale (facultatif) */
    flex-direction: column;
    padding:20px;
    justify-content: center;
    text-align: center;
}